<a class="link" href='/purchase-info?id={{id}}'>
    <div class="purchase-section">
        <div class="purchase-element__a">
            <div class="block-a">{{id}}</div>
            <div class="block-b">
                <div class="name-title">Товари</div>
                <div class="name-description">{{product.title}}</div>
            </div>
            <div class="block-c">
                <div class="sum-title">Сума замовлення</div>
                <div class="sum-description">{{totalPrice}}</div>
            </div>
            <div class="block-d">
                <div class="bonus-title">Нараховані бонуси</div>
                <div class="bonus-description">{{bonus}}</div>
            </div>
        </div>
        <div class="purchase-element__b">{{> divider}}</div>
    </div>
</a>