<main class='main'>
    {{#with data}}
    <form method="POST" action="/purchase-submit?id={{id}}" class='form-card'>
        {{> heading title="Ваше замовлення"}}

        <ul class="cart">
            {{#each cart}}
            <li class="cart__item">
                <span>{{text}}</span>
                <span class="accent-text">{{price}} грн</span>
            </li>
            {{/each}}
        </ul>


        {{> divider}}

        {{> heading title=subtitle}}
        <div class="cart__block">
            {{> field label='Прізвище' name='lastname'}}
            {{> field label="Ім'я" name='firstname'}}
        </div>
        <div class="cart__block">
            {{> field label='Мобільний телефон' name='phone'}}
            {{> field label="Електронна пошта" name='email'}}
        </div>

        {{> field label='Коментар' name='comment'}}
        {{> field label='Списати бонуси' name='bonus'}}
        {{> field label="Промо-код" name='promocode'}}

        <strong class="accent-text">
            Всього: {{totalPrice}} грн (нараховано {{bonus}} грн бонусів)
        </strong>
        {{> field value=totalPrice name='totalPrice' disabled=true}}
        {{> field value=productPrice name='productPrice' disabled=true}}
        {{> field value=deliveryPrice name='deliveryPrice' disabled=true}}
        {{> field value=amount name='amount' disabled=true}}
        {{> button text="Оформити замовлення"}}
    </form>
    {{/with}}
</main>