{{#with data.products}}
{{#each list}}
<div class="product__card">
    <div class="product__title">{{name}}</div>
    <div class="product__description">{{description}}</div>
    <div class="product__id">{{id}}</div>

    <div class="price__wrap">
        <div class="product__price">{{price}}</div>
        <a href="/product-edit?id={{id}}" class="product__button">Редагувати</a>
    </div>

</div>
{{/each}}
{{/with}}